[server_config]
log_path = "logs/watchman.log"
log_level = "DEBUG"
listen_addr = "127.0.0.1"
listen_port = 8000
allowed_origin_list = ["http://localhost:3000", "http://127.0.0.1:3000"]
# pub_key_path = "keys/jwt_pub.der"
# pri_key_path = "keys/jwt_pri.der"
secret_key_path = "keys/jwt_secret.key"
clear_log = "True"
authenticate_bypass = ["/api/auth/signup","/api/auth/login","/webhook","/api/hey","/api/reload","/api/subsystem_control/all_subsystem","/api/subsystem_control/update_subsystem"]
permit_bypass = ["/api/auth/signup","/api/auth/login","/webhook","/api/hey","/api/reload","/api/subsystem_control/all_subsystem","/api/subsystem_control/update_subsystem"]

[db_config]
db_str = "mysql://root:778631@127.0.0.1:3306/watch_man" # local