[server_config]
listen_addr = "127.0.0.1"
listen_port = 8080
log_path = "log/watchman.log"
log_level = "INFO"
# pub_key_path = "keys/jwt_pub.der"
# pri_key_path = "keys/jwt_pri.der"
secret_key_path = "key/jwt_secret.key"
clear_log = "True"
authenticate_bypass = ["/api/auth/signup","/api/auth/login","/webhook","/api/hey","/api/reload","/api/subsystem_control/all_subsystem","/api/subsystem_control/update_subsystem"]
permit_bypass = ["/api/auth/signup","/api/auth/login","/webhook","/api/hey","/api/reload","/api/subsystem_control/all_subsystem","/api/subsystem_control/update_subsystem"]

[db_config]
db_str = "mysql://root:778631@127.0.0.1:3306/watch_man" # local
