[server_config]
listen_addr = "127.0.0.1"
listen_port = 8080
log_path = "logs/watchman.log"
log_level = "INFO"
# pub_key_path = "keys/jwt_pub.der"
# pri_key_path = "keys/jwt_pri.der"
secret_key_path = "keys/jwt_secret.key"
clear_log = "True"

[db_config]
db_str = "mysql://root:778631@127.0.0.1:3306/watch_man" # local

[subsys_config]
key1 = "v1"