# workspace files
**/.vscode/**
**/__pycache__/**
**/target
**/.DS_Store
**/Cargo.lock

# cargo build config
watchman-backend/config.toml

# key files
**/keys
**/key

# log files
**/logs
**/log

# config files
watchman-backend/watchman.toml
cmdb-backend/cmdb.toml
cloud-api/cloud_api.toml
jc-commander/job_center_commander.toml
jc-worker/job_center_worker.toml
file-agent/file_agent.toml

# business script
**/script/business
