# workspace files
**/.vscode/**
**/__pycache__/**
**/target
**/.DS_Store
**/Cargo.lock

# key files
**/keys
**/key

# log files
**/logs
**/log

# config files
watchman-backend/watchman.toml
cmdb-backend/cmdb.toml
cloud-api/cloud_api.toml
jc-commander/job_center_commander.toml
jc-worker/job_center_worker.toml
jc-worker/script/business/business_GenerateServerJson.py
jc-worker/script/business/business_LightHouseCheck.py
jc-worker/script/business/business_TxCvmUpdate.py

# business script
**/script/business
