# workspace files
**/.vscode/**
**/__pycache__/**
**/target
**/.DS_Store
**/Cargo.lock

# key files
**/keys
**/key

# log files
**/logs
**/log

# config files
watchman-backend/watchman_backend.cfg
cmdb-backend/cmdb_server.cfg
cloud-api/cloud_api_server.cfg
jc-commander/job_center_commander.cfg
jc-worker/job_center_worker.cfg
