[server_config]
listen_addr = "127.0.0.1"
listen_port = 9002
log_path = "logs/cloudapi.log"
log_level = "INFO"
clear_log = "True"
master_addr = "127.0.0.1"
master_port = 8000
register_name = "cloud-api"
authenticate_bypass = ["/api/refresh_master"]
python_path = "/usr/bin/python3"
script_dir = "scripts"

[db_config]
db_str = "mysql://root:778631@127.0.0.1:3306/cloud_api"
# mq_str = "amqp://guest:guest@localhost/"